<div class="mother-container">
    <mat-toolbar>
        Famenun App Quick Start Angular
    </mat-toolbar>
    <div class="content">
        <!-- toast api -->
        <br>
        <br>
        <br>
        <h2>Toast API</h2>
        <br>
        <p>It can be used to show a toast to the user</p>
        <br>
        <mat-form-field style="width: 100%; max-width: 600px;" appearance="outline" hintLabel="Max 101 characters">
            <mat-label>Toast Message</mat-label>
            <input type="text" [(ngModel)]="toastMessage" matInput #toastMessageInput placeholder="Ex, this is a test message" maxlength="101">
            <button mat-button *ngIf="toastMessage" matSuffix mat-icon-button aria-label="Clear" (click)="toastMessage=''">
                <mat-icon>close</mat-icon>
              </button>
            <mat-hint align="end">{{toastMessageInput.value?.length || 0}}/101</mat-hint>
        </mat-form-field>
        <br>
        <button mat-stroked-button color="primary" (click)="showToast()">Show Toast</button>
        <!-- other apis  -->
        <br>
        <br>
        <br>
        <p>For other APIs check <a href="https://developers.famenun.com" target="_blank">docs</a></p>
        <br>
    </div>
</div>